# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ELF: BlueJ info files
*.java#backup
*.pkg
bluej.pkh
*.class
*.ctxt
*.java~
*.bluej
doc/resources/inherit.gif
doc/logfile.txt
*.jar
!lib/jsoup-1.11.3.jar
temp.txt
README.TXT
__SHELL*.java

# ELF: Project-specific excludes
sotw_runner.bat
archives/
assets/
backup/
leaderboards/
members/
images/
Planning/
cert/
