# General BlueJ/Java excludes
*.java#backup
*.pkg
bluej.pkh
*.class
*.ctxt
*.java~
*.bluej
doc/resources/inherit.gif
doc/logfile.txt
*.jar
temp.txt
README.TXT
__SHELL*.java

# Project-specific excludes
backup/
cert/
leaderboards/
members/
